# Dados de runtime
prefs.json
recent_files.json
historico_horas_extras.json

# Assets gerados pelo usuário
assets/

# Python
__pycache__/
*.py[cod]
*.pyo

# Ambiente virtual
venv/

# VSCode
.vscode/

# PyInstaller
build/
dist/
